.trainPopupHeader, .supermarketPopupHeader, .searchNearbyPopupHeader{
    font-family: 'Urbanist', sans-serif;
    font-size:large;
    max-width:230px;
}

.trainPopup, .supermarketPopup{
    font-family: 'Urbanist', sans-serif;
    font-size:medium;
    max-width:230px;
}

.searchFlatPopup{
    font-family: 'Urbanist', sans-serif;
    font-size:large;
    max-width:230px;
    text-align: justify;
}

#searchNearbyPopup{
    font-family: 'Urbanist', sans-serif;
    font-size:medium;
}

#lastTransactedTable{
    font-family: 'Urbanist', sans-serif;
    font-size:small;
}

#lastTransactedAddress{
    font-family: 'Urbanist', sans-serif;
    font-size:medium;
    padding:8px;
    margin: 0px;
    text-align: justify;
}

@media screen and (max-width: 375px) {
    #lastTransactedAddress{padding:8px;}
}