.trainPopupHeader, .supermarketPopupHeader, .searchNearbyPopupHeader{
    font-family: 'Urbanist', sans-serif;
    font-size:large;
    font-weight:bold
    max-width:230px;
}

.trainPopup, .supermarketPopup{
    font-family: 'Urbanist', sans-serif;
    font-size:medium;
    max-width:230px;
    /* text-align: justify; */
}

.searchFlatPopup{
    font-family: 'Urbanist', sans-serif;
    font-size:large;
    max-width:230px;
    text-align: justify;
}

#searchNearbyPopup{
    font-family: 'Urbanist', sans-serif;
    font-size:medium;
}

#lastTransactedTable{
    font-family: 'Urbanist', sans-serif;
    font-size:small;
}

#lastTransactedAddress{
    font-family: 'Urbanist', sans-serif;
    font-size:medium;
    padding:8px;
    margin: 0px;
    text-align: justify;
}

/* .table{
    padding:0.5rem 0.25rem;
} */
