#searchPostalCode{
    width:auto;
}

#searchRadius{
    width:auto;
}

#legend{
    position:absolute;
    z-index:600;
    margin-top:12px;
    margin-left:60px;
}

.dropdown-item{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: large;
}

.legendImgs{
    height:auto;
    width:38px;
    margin-left:5px;
    margin-right:20px;   
    margin-top:5px;
    margin-bottom:5px; 
}

#imgSearchFlat{
    height:auto;
    width:45px;
    margin-left:0px;
    margin-right:19px;
}

#imgSupermarket{
    height:auto;
    width:43px;
    margin-left:2px;
    margin-right:19px;
}


#visionMission{
    position:absolute;
    z-index:500;
    margin-left:12px;
    margin-top:100px;
    /* display: none; */
}

.missionList{
    padding-left:15px;
    padding-bottom:15px;
}

p{
    margin-top:20px;
    margin-bottom:25px;
}

#badge{
    margin-left:3px;
    margin-right:3px;
}

#clearResultsBtn{
    vertical-align: center;
}

.radioFlatType{
    margin:12px 20px 12px 8px;
    margin-right:25px;
}

.radioFlatTypeLabel{
    font-family: 'Anek Malayalam', sans-serif;
    font-size:medium;
}

#searchTown{
    width:auto;
}

#searchTownLabelDiv{
}

#searchTownLabel{
    width:80px;
    justify-content: center;
}

body{
    background-color:#f8f9fa;
    height:100vh;
}

#cont-1{
    position:relative;
    height:90vh;
}

#map{
    height:75vh;
}

#radioFlatDiv{
    height:10vh;
    background-color:#f8f9fa;
}

#radioFlatDivLabel{
    margin-top:15px;
    font-family: 'Anek Malayalam', sans-serif;
    font-size:large;
}

#radioFlatDiv1{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

#resultsListParentDiv{
    background-color:floralwhite;
    width:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    max-height: 330px;
    overflow-y: auto;
    margin: 8px 16px 8px 8px;
}

@media screen and (max-width: 2560px) {
    #map{height:85vh;}
}

@media screen and (max-width: 1920px) {
    #map{height:75vh;}
}

@media screen and (max-width: 1180px) {
    #map{height:70vh;}
}

@media screen and (max-width: 768px) {
    #map{height:78vh;}
}

@media screen and (max-width: 576px) {
    #break4 {width: 100%;}
    #break5 {width: 100%;}
    #map{height:72vh;}
}

@media screen and (max-width: 540px) {
    #break4 {width: 100%;}
    #break5 {width: 100%;}
    #map{height:70vh;}
}

@media screen and (max-width: 414px) {
    #break3 {width: 100%;}
    #break4 {width: 0%;}
    #break5 {width: 0%;}
    #break6 {width: 100%;}
    #map{height:70vh;}
}

@media screen and (max-width: 375px) {
    #break3 {width: 100%;}
    #break4 {width: 100%;}
    #break5 {width: 0%;}
    #break6 {width: 100%;}
    #map{height:65vh;}
}

@media screen and (max-width: 280px) {
    #break1 {width: 100%;}
    #break6 {width: 0%;}
    #map{height:65vh;}
    .collapsible {margin-left:11px; margin-bottom:8px;margin-top:8px;}
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    color: #444;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 15px;
    margin-right:12px;
    margin-left:12px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 3px;
    display: none;
    overflow: hidden;
  }