#searchPostalCode{
    width:auto;
}

#searchRadius{
    width:auto;
}

#aboutUs{
    cursor:pointer;
}

#cont-1{
    position:relative;
    height:100vh;
}

#map{
    height:100vh;
}

#legend{
    position:absolute;
    z-index:600;
    margin-top:12px;
    margin-left:60px;
}


#imgSearchFlat{
    height:auto;
    width:42px;
    margin-left:0px;
    margin-right:13px;
}

#imgLastTransacted{
    height:auto;
    width:32px;
    margin-left:7px;
    margin-right:17px;
}

#imgTrain{
    height:auto;
    width:35px;
    margin-left:5px;
    margin-right:15px;
}

#imgSupermarket{
    height:auto;
    width:40px;
    margin-left:2px;
    margin-right:13px;
}

#visionMission{
    position:absolute;
    z-index:500;
    margin-left:12px;
    margin-top:100px;
    /* display: none; */
}


.missionList{
    padding-left:15px;
    padding-bottom:15px;
}

p{
    margin-top:20px;
    margin-bottom:25px;
}

